/*
Aufgabe: Aufgabe 4
Name: Johannes Rümenapp
Matrikel: 261175
Datum: 20.04.2019

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

html {
    font-family: 'Times New Roman', Times, serif;
    background-color: #3B6EA5;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#zusammenfassung {
    flex-direction: column;
    align-items: center;
    align-content: center;
}